:root {
  --alto: #d1d0d0;
  --silverChalice: #a9a9a9;
  --silver: #c4c4c4;
  --gallery: #ececec;
  --doveGray: #717171;
  --white: #ffff;
  --black: #0000;

  --colorText: var(--black);
  --colorHeader: var(--alto);
  --colorBackground: var(--gallery);
  --colorSideMenu: var(--white);

  --fontSizeSmall: 8px;
  --fontSizeTiny: 10px;
  --fontSizeMedium: 16px;
  --fontSizeLarge: 18px;

  --fontWeightRegular: 400;
  --fontWeightMedium: 500;
  --fontWeightBold: 700;
}
