.checkbox {
  display: flex;
  align-items: center;
}

.checkbox__input {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

.checkbox__lable {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  user-select: none;
}

.checkbox__icon {
  display: none;
  width: 70%;
}

.checkbox__input:checked + .checkbox__lable .checkbox__icon {
  display: block;
}

.task__meta {
  margin-left: auto;
}