.root {
  font-family: 'Inter', 'Arial', sans-serif;
  line-height: 1;
  min-height: 100vh;
  color: var(--colorText);
  display: flex;
  flex-direction: column;
}

.root, .root * {
  box-sizing: border-box;
}