.sort {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sort__direction {
  border: none;
  background: transparent;
  cursor: pointer;
  width: 15px;
  padding: 0;
}

.sort__direction-arrow {
  width: 100%;
}

.sort__type {
  font-size: var(--fontSizeTiny);
  font-weight: var(--fontWeightRegular);
}