.task {
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  background-color: var(--silverChalice);
  border-radius: 3px;
  cursor: pointer;
}

.task:last-child {
  margin-bottom: 30px;
}

.task__title {
  font-size: var(--fontSizeLarge);
  font-weight: var(--fontWeightBold);
  margin: 0 0 7px 0;
}

.task__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.task__description {
  font-size: var(--fontSizeLarge);
  font-weight: var(--fontWeightRegular);
  margin: 0;
  max-width: 90%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.task__status {
  width: 30px;
  height: 30px;
  border: 2px solid var(--doveGray);
  border-radius: 3px;
}

.task__meta {
  margin-left: auto;
}