.task {
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  background-color: var(--silverChalice);
  border-radius: 3px;
}

.task__title {
  font-size: var(--fontSizeLarge);
  font-weight: var(--fontWeightBold);
  margin: 0 0 7px 0;
}

.task__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 13px;
}

.task__description {
  font-size: var(--fontSizeLarge);
  font-weight: var(--fontWeightRegular);
  margin: 0;
}

.task__status {
  display: flex;
  align-items: center;
}

.task__check {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

.task__check-lable {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 2px;
  border: 2px solid var(--doveGray);
  user-select: none;
}

.task__check-icon {
  display: none;
  width: 18px;
}

.task__check:checked + .task__check-lable .task__check-icon {
  display: block;
}

.task__meta {
  margin-left: auto;
}